.gitattributes

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Latex files
*.log
*.aux
*.lof
*.lot
*.idx
*.bbl
*.toc
*.out
*.blg

# Haskell files
*.o
*.hi

# Resource files
terasic-cd/*
*.hdb
*.cdb

# Matlab files
*.asv

# sed leftovers
sed*
