*.png
*.bak
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
*.html
*.bsf
*.elf
*.map
*.objdump
*.swp
*.a
*.cmp
*.sopcinfo
*.cmd
*.mod.c
*.o
*.ko
db/*
simulation/*
incremental_db/*
hc_output/*
output_files/*
.sopc_builder/*
nios_workspace/*
.qsys_edit/*
hps_isw_handoff/*
soc_system/synthesis/*
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
sopc_builder_log.txt
nios_system_log.txt
c5_pin_model_dump.txt
