*.tcl~
*.png
*.bak
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.pin
*.pof
*.qws
*.log
*.chg
*.html
*.bsf
*.elf
*.map
*.objdump
*.swp
*.a
*.cmp
*.sopcinfo
*.cmd
*.mod.c
*.o
*.ko

.sopc_builder/*
.qsys_edit/*

db/*
memory_io/*
simulation/*
incremental_db/*
hc_output/*
output_files/*
hps_isw_handoff/*

hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
sopc_builder_log.txt
nios_system_log.txt
c5_pin_model_dump.txt
